@import "~react-image-gallery/styles/css/image-gallery.css";

label {
    margin-bottom: 0px;
}

.login-form,
.signup-form {
    max-width: 450px;
    margin: auto;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.t-img {
    height: 128px;
    width: 176px;
}

.m-card {
    background-color: #fff;
    padding: 20px 25px 20px;
    margin: 0 auto 0px;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active-hover:hover {
    filter: brightness(110%);
}

.active-box-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box__icon{
    color: #3498DB;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.box__title{
    display: flex;
    font-size: 24px;
}

.input__name{
    margin-bottom: 10px;
}

.input__input{
    background-color: #EFEFEF;
    border-radius: 10px;
    outline: none;
    border: 0;
    padding: 4px 16px;
    width: 80%;
}

.input__span{
    margin-left: 12px;
}

.box__box{
    margin-bottom: 10px;
    display: flex;
}

.display--block{
    display: block;
}

.input__container{
    display: flex;
}

.input__input--row{
    width: 40% !important;
}

#box__radio{
    color: #000;
}

.box__container{
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 30px; */
    column-gap: 60px;
}

.box__button{
    padding: 12px;
    border-radius: 20px;
    margin: 12px 0px;
    display: flex;
    align-items: center;
    width: 20%;
    background-color: #D9D9D9;
    cursor: pointer;
}

.box__button.active{
    background-color: #3498DB;
    color: #fff;
}

.button__name{
    margin-left: 8px;
}

.box__area{
    margin: 40px 0;
}

#area{
    padding: 30px;
    border: 0;
    background-color: #EFEFEF;
    border-radius: 20px;
    outline: 0;
}

.box__content{
    margin: 40px 0;
}

.btn__btn{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-chat {
    background-color: #fff;
    margin: 0 auto 0px;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.m-mess {
    overflow-wrap: break-word;
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 0px 10px 10px 10px;
    padding: 8px 16px;
    max-width: 60%;
}

.m-mess a {
    text-decoration: underline;
    color: #fff;
}

.m-mess.owner {
    margin-right: 20px;
    background-color: #9f9f9f;
    color: white;
    border-radius: 10px 0px 10px 10px;
}

.m-mess-img {
    margin-left: 20px;
    border-radius: 5px;
    max-width: 60%;
}

.m-mess-img.owner {
    margin-right: 20px;
}

.m-chatbox:hover {
    background-color: #F0F2F5;
}

.m-chatbox.active {
    background-color: #f0f6ff;
}

.message-box {
    position: fixed;
    bottom: 54px;
    right: 54px;
    z-index: 100;
}

.admin{
    display: flex;
}

.sidebar{
    background-color: #3498DB;
    color: #FFFFFF;
    width: 15%;
    min-width: 200px;
    height: 100vh;
}

.sidebar__header{
    padding: 30px;
    display: flex !important;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar__header h4, .sidebar__item span{
    margin-left: 16px;
}

.sidebar__items{
    padding-left: 0;
    cursor: pointer;
}

.sidebar__item{
    list-style: none;
    padding: 14px 32px;
}

.sidebar__item.active{
    background-color: #2980B9;
    border-left: 4px solid #FFFFFF;
}

.header__admin{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header__admin > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__admin img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 999px;
    margin-left: 10px;
}

.admin__fullname{
    font-weight: 500;
}

.admin__search input{
    outline: none;
    border: 0;
    margin-right: 10px;
    border-radius: 10px;
    padding: 4px 16px;
    width: 400px;
}

.css-advny6-MuiPopper-root.MuiPopperUnstyled-root{
    z-index: 2;
}

.admin__status{
    display: flex;
    justify-content: flex-end;
}

.admin__status .content{
    background-color: #2ECC71;
    padding: 4px 8px;
    border-radius: 999px;
    color: #fff;
}

.admin__status .content .warning{
    background-color: #F1C40F;
}

.admin__status .content .block{
    background-color: #E74C3C;
}